@charset "utf-8";

@font-face{
    font-family: "icomoon";
    src: url("fonts/icomoon.eot");
    src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),
        url("fonts/icomoon.svg#icomoon") format("svg"),
        url("fonts/icomoon.woff") format("woff"),
        url("fonts/icomoon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin: 0;
    background: #39536B;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal; 
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
    opacity: .3;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
        -ms-transition: all .4s;
         -o-transition: all .4s;
            transition: all .4s;
}
a:hover{
    opacity: .5;
}

.front, .back{
    position: absolute;
    top: 50%;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border-radius: 5px;
    box-shadow: 0 0 5px #4d90fe;
    opacity: .8;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.github, .content-github{
    left: 25%;
    margin-left: -150px;
}
.facebook, .content-facebook{
    left: 50%;
    margin-left: -150px;
}
.twitter, .content-twitter{
    left: 75%;
    margin-left: -150px;
}

.back{
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.github:before, .facebook:before, .twitter:before{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    font: 72px "icomoon";
}
.github:before{
    content: "\e0ab";
}
.facebook:before{
    content: "\e091";
}
.twitter:before{
    content: "\e095";
}
.content-github{
    padding: 80px 0;
}
.content-facebook{
    padding: 100px 0;
}
.facebook-button{
    margin-top: 10px;
}
.content-twitter{
    padding: 90px 0;
}
.content-github a{
    font-size: 22px;
    color: #fff;
}

.setRotate{
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -52px;
    width: 100px;
    padding: 5px 0;
    background: #39536B;
    border-radius: 3px;
    cursor: pointer;
}
.open{
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.close{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}